/* background */

body {
    background-image: url(Images/Marble.jpg);
    background-size: 100%;
}

.card-body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card-body h1{
    font-size: large;
    font-weight: bold;

}

.img{
    border: 5px;
    border-color: black;
    max-width: 100%;
    background-color: rgba(144, 238, 144, 0.5);
    border-radius: 10px;
}



.ingredients-card {
    background-color: rgba(144, 238, 144, 0.5);
    border-radius: 5px 50px 50px 50px;
}

.procedure-card{
    background-color: rgba(144, 238, 144, 0.5);
    border-radius: 5px 50px 50px 50px;
}

.icons{
    width: 50px;
    margin: 10px;
}

.diets{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.images-div{
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 600px) {
    .card-body {
        flex-wrap: wrap;
    }
    .images-div{
        flex-wrap: wrap;
    }
    .diets{
        flex-direction: row;
    }
}